{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Ajouter un Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">revenir à la liste</a>
{% endblock %}
